<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Live Streaming Demonstration</title>
</head>
<body>
<div class="container">
    <img id="stream"/> 

    <script>
        function Steam(){
            fetch("http://10.100.100.11:8666/stream").then(result => {
                return result.blob();}).then(blob => {
                var url = URL.createObjectURL(blob);
                var img = document.getElementById("stream");
                img.src = url;
            });
    }
    
    addEventListener('load', function () {
    // Your document is loaded.
    var fetchInterval = 30; // 1 seconds.

    // Invoke the request every 1 seconds.
     setInterval(Steam, fetchInterval);
});
    </script>
</div>
</body>
</html>